*.pyc
*.so
.ipynb_checkpoints
.DS_Store
.pytest_cache
build/
localgraphclustering/graph_lib/
*.egg-info/

# IDEs
**/.idea/

*.csv
*.png
*.edgelist
*.pdf
*.dta
*.zip
*.tgz
*.xlsx
*.txt
**/datasets/
**/results/

venv/
